@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  /* 1rem = 16px (User Agent) = 100% */
  font-size: 62.5%;
  /* 10px */
}

body{
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: #EEE;
}

body, input, textarea, button, select{
  font-family: 'Source Sans Pro', sans-serif;
}

input, textarea, button, select{
  border-radius: .8rem;
  font-size: 1.8rem;
}

input, select{  
  padding: 1.15rem 0 1.25rem 1.2rem;
  background-color: #F5F5F5;
  color: #424242;
  border: 1px solid #cecece;
  border-radius: .8rem;
  outline: none;
}

button{
  border: none;
}

button:hover, a:hover{
  filter: brightness(1.2);
}

a{
  text-decoration: none;
}
